.ui-button:hover {
  color: #007ad9 !important;
  background-color: #fff !important;
}

.ui-button:active {
  color: #fff !important;
  background-color: #007ad9 !important;
}

tr > td > a {
  color: #fff;
}

.status {
  color: #007ad9 !important;
}

.col-data-content {
  text-align: center;
}

.col-data-content a {
  text-decoration: none;
  color: #333;
}

.nohover:hover {
  color: #FFF;
}

.col-acoes {
  width: 90px;
  text-align: center;

}

.marginLeft {
  margin: 0 .25em!important;
}

.color-texto > a {
  color: #fff !important;
}

#novaPessoa.ui-button-text {
  color: #fff !important;
}
