<div class="ui-g">
  <div class="ui-g-12">
    <div class="ui-g-2">
      <button type="button" pButton id="novoContato" class="ui-button ui-button-secondary ui-button-text" icon="pi pi-plus" label="Novo" (click)="prepararNovoContato()" ></button>
    </div>
  </div>
  <div class="ui-g-12">
    <p-table [value]="contatos" [responsive]="true">
      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Telefone</th>
          <th class="col-acoes-header"></th>
        </tr>
      </ng-template>
      <<ng-template pTemplate="body" let-contato let-rowIndex="rowIndex">
        <tr>
          <td>{{ contato.nome }}</td>
          <td>{{ contato.email }}</td>
          <td>{{ contato.telefone }}</td>
          <td class="col-acoes">
            <button pButton type="button" id="editar" class="marginLeft" icon="pi pi-pencil" pTooltip="Editar"  tooltipPosition="top" (click)="prepararEdicaoContato(contato, rowIndex)"></button>
            <button pButton type="button" id="excluir" class="marginLeft" icon="pi pi-trash" pTooltip="Excluir"  tooltipPosition="top" (click)="removerContato(rowIndex)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">
            Nenhum contato cadastrado
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog [header]="editando ? 'Edição contato' : 'Novo contato' " [(visible)]="showModal" [modal]="true" *ngIf="contato" >
  <form #formContato="ngForm" (ngSubmit)="confirmarContato(formContato)" >
    <div class="ui-g">
      <div class="ui-g-12 ui-fluid">
        <label for="nome">Nome</label>
        <input type="text" pInputText id="nome" name="nome" [(ngModel)]="contato.nome" required #nomeContato="ngModel">
        <app-message [control]="nomeContato" error="required" text="Informe o nome."></app-message>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label for="email">E-mail</label>
        <input type="text" pInputText id="email" name="email" [(ngModel)]="contato.email" required email #emailContato="ngModel">
        <app-message [control]="emailContato" error="required" text="Informe o E-mail."></app-message>
        <app-message [control]="emailContato" error="email" text="Informe um E-mail válido."></app-message>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label for="telefone">Telefone</label>
        <p-inputMask id="telefone" name="telefone" [(ngModel)]="contato.telefone" mask="(99)99999-999?9"></p-inputMask>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-2">
          <button pButton class="ui-button" type="submit" label="Confirmar" [disabled]="formContato.invalid"></button>
        </div>
      </div>
    </div>
  </form>
</p-dialog>
