<div class="container">
  <form #pessoa="ngForm">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nova Pessoa</h1>
      </div>
      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label for="nome">Nome</label>
        <input pInputText type="text" name="nome" id="nome" required minlength="4" ngModel #nome="ngModel">
        <app-message [control]="nome" error="required" text="Informe um nome."></app-message>
        <app-message [control]="nome" error="minlength" text="Nome deve ter o mínimo de 4 caracteres."></app-message>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label for="logradouro">Logradouro</label>
        <input pInputText type="text" name="logradouro" id="logradouro" required ngModel #logradouro="ngModel">
        <app-message [control]="logradouro" error="required" text="Informe um logradouro."></app-message>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label for="numero">Numero</label>
        <input pInputText type="text" name="numero" id="numero" required ngModel #numero="ngModel">
        <app-message [control]="numero" error="required" text="Informe o número."></app-message>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label for="complemento">Complemento</label>
        <input pInputText type="text" name="complemento" id="complemento" ngModel #complemento="ngModel">
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label for="bairro">Bairro</label>
        <input pInputText type="text" name="bairro" id="bairro" required ngModel #bairro="ngModel">
        <app-message [control]="bairro" error="required" text="Informe o bairro."></app-message>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label for="cep">CEP</label>
        <p-inputMask mask="99999-999" slotChar="" placeholder="00000-000" name="cep" id="cep" required ngModel #cep="ngModel"></p-inputMask>
        <app-message *ngIf="cepIsNotZero()" [control]="cep" error="required" text="Informe o CEP."></app-message>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="cidade">Cidade</label>
        <input pInputText type="text" name="cidade" id="cidade" required ngModel #cidade="ngModel">
        <app-message [control]="cidade" error="required" text="Informe a cidade."></app-message>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="estado">Estado</label>
        <input pInputText type="text" name="estado" id="estado" required ngModel #estado="ngModel">
        <app-message [control]="estado" error="required" text="Informe o estado."></app-message>
      </div>
      <div class="ui-g-12">
        <button [disabled]="!pessoa.valid" pButton label="Salvar" type="submit"></button>
        <button pButton class="margin-left ui-button-info" label="Novo"></button>
        <a class="margin-left" href="#">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
